In [1]:
import mysql.connector

car = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cur = car.cursor()
cur.execute("use practice")

In [2]:
cur.execute("create table practice3 (productId int,CoName varchar(50),broutItem int,country varchar(50))")
cur.execute("insert into practice3 values(6,'seema1',50,'afrika')")
cur.execute("insert into practice3 values(7,'pooja3',100,'neziland')")

car.commit()

In [3]:
cur.execute("insert into practice2 values(2,'gobhi',200,'india')")
cur.execute("insert into practice2 values(4,'palak',100,'usa')")

In [4]:
cur.execute("update practice2 set Name='tometo' where Name='bitti'")

In [5]:
cur.execute("select * from practice2 ")
for i in cur:
    print(i)

(3, 'poteto', 100, 'india')
(2, 'gobhi', 200, 'india')
(4, 'palak', 100, 'usa')

In [6]:
cur.execute("select * from practice3 ")
for i in cur:
    print(i)

(6, 'seema1', 50, 'afrika')
(7, 'pooja3', 100, 'neziland')

In [7]:
cur.execute("select practice3.productId ,practice2.Name,practice3.CoName from practice2 inner join practice3 on practice2.country = practice3.country")
for i in cur:
    print(i)

In [8]:
cur.execute("select practice3.productId ,practice2.Name,practice3.CoName from practice2 left join practice3 on practice2.country=practice3.country")
for i in cur:
    print(i)

(None, 'poteto', None)
(None, 'gobhi', None)
(None, 'palak', None)

In [9]:
cur.execute("create table practice6(empId int,EName varchar(50),Adress varchar(50))")
cur.execute("insert into practice6 values(1,'seema','afrika')")
cur.execute("insert into practice6 values(2,'pooja3','neziland')")
cur.execute("insert into practice6 values(3,'kiran','pune')")

car.commit()

In [10]:
cur.execute("create table practice7(empId int,DName varchar(50),D varchar(50))")
cur.execute("insert into practice7 values(1,'d1','hr')")
cur.execute("insert into practice7 values(2,'d2','it')")
cur.execute("insert into practice7 values(3,'d3','finance')")
cur.execute("insert into practice7 values(4,'d1','hr')")
car.commit()

In [11]:
cur.execute("select * from practice6 ")
for i in cur:
    print(i)

(1, 'seema', 'afrika')
(2, 'pooja3', 'neziland')
(3, 'kiran', 'pune')

In [12]:
cur.execute("select * from practice7 ")
for i in cur:
    print(i)

(1, 'd1', 'hr')
(2, 'd2', 'it')
(3, 'd3', 'finance')
(4, 'd1', 'hr')

In [13]:
cur.execute("select practice6.empId,practice6.EName,practice7.DName from practice6 inner join practice7 on practice6.empId=practice7.empId")
for i in cur:
    print(i)

(1, 'seema', 'd1')
(2, 'pooja3', 'd2')
(3, 'kiran', 'd3')

In [14]:
cur.execute("select practice6.empId,practice6.EName,practice7.DName from practice6 left join practice7 on practice6.empId=practice7.empId")
for i in cur:
    print(i)

(1, 'seema', 'd1')
(2, 'pooja3', 'd2')
(3, 'kiran', 'd3')

In [15]:
cur.execute("select practice6.empId,practice6.EName,practice7.DName from practice6 right join practice7 on practice6.empId=practice7.empId")
for i in cur:
    print(i)

(1, 'seema', 'd1')
(2, 'pooja3', 'd2')
(3, 'kiran', 'd3')
(None, None, 'd1')

In [17]:
cur.execute("select practice6.empId,practice6.EName,practice7.DName from practice6 cross join practice7 on practice6.empId=practice7.empId")
for i in cur:
    print(i)

(1, 'seema', 'd1')
(2, 'pooja3', 'd2')
(3, 'kiran', 'd3')

In [18]:
cur.execute("select * from practice6 union select * from practice7")
for i in cur:
    print(i)

(1, 'seema', 'afrika')
(2, 'pooja3', 'neziland')
(3, 'kiran', 'pune')
(1, 'd1', 'hr')
(2, 'd2', 'it')
(3, 'd3', 'finance')
(4, 'd1', 'hr')

In [19]:
cur.execute("select empId from practice6 union select empId from practice7")
for i in cur:
    print(i)

(1,)
(2,)
(3,)
(4,)

In [21]:
cur.execute("select empId from practice6 union  all select empId from practice7")
for i in cur:
    print(i)

(1,)
(2,)
(3,)
(1,)
(2,)
(3,)
(4,)