In [2]:
import mysql.connector

car = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cur = car.cursor()
cur.execute("use practice")

In [10]:
cur.execute("insert into practice2 values(3,'gobhi',30,'usa')")
cur.execute("insert into practice2 values(4,'gobhi',5000,'pakistan')")
cur.execute("insert into practice2 values(5,'lady finger',40,'usa')")
car.commit()

In [11]:
cur.execute("select * from practice2 ")
for i in cur:
    print(i)

(3, 'poteto', 100, 'india')
(1, 'tometo', 100, 'india')
(1, 'tometo', 100, 'india')
(3, 'gobhi', 30, 'usa')
(4, 'gobhi', 5000, 'pakistan')
(5, 'lady finger', 40, 'usa')

In [4]:
cur.execute("select MIN(productId) AS SmallestPrice  from practice2")
for i in cur:
    print(i)

(3,)

In [5]:
cur.execute("select MAX(productId) AS SmallestPrice  from practice2")
for i in cur:
    print(i)

(3,)

In [13]:
cur.execute("select COUNT(Name) from practice2 ")
for i in cur:
    print(i)

(6,)

In [14]:
cur.execute("select COUNT(Name) from practice2 where Name='gobhi' ")
for i in cur:
    print(i)

(2,)

In [15]:
cur.execute("select AVG(productId) from practice2")
for i in cur:
    print(i)

(Decimal('2.8333'),)

In [16]:
cur.execute("select SUM(productId) from practice2")
for i in cur:
    print(i)

(Decimal('17'),)