In [13]:
import mysql.connector

car = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cur = car.cursor()
cur.execute("use practice")

In [14]:
cur.execute("select * from practice2 order by productId")
for i in cur:
    print(i)

(1, 'sugar', 50, 'india')
(2, 'sugar', 50, 'india')
(2, 'rice', 80, 'india')
(3, 'poteto', 100, 'india')
(4, 'brinjal', 200, 'usa')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(5, 'brinjal', 500, 'briten')

In [15]:
cur.execute("select * from practice2 order by productId desc")
for i in cur:
    print(i)

(5, 'brinjal', 500, 'briten')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(4, 'brinjal', 200, 'usa')
(3, 'poteto', 100, 'india')
(2, 'sugar', 50, 'india')
(2, 'rice', 80, 'india')
(1, 'sugar', 50, 'india')

In [16]:
cur.execute("select * from practice2 order by productId ,Name")
for i in cur :
    print(i)

(1, 'sugar', 50, 'india')
(2, 'rice', 80, 'india')
(2, 'sugar', 50, 'india')
(3, 'poteto', 100, 'india')
(4, 'brinjal', 200, 'usa')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(5, 'brinjal', 500, 'briten')

In [17]:
cur.execute("select * from practice2 order by productId desc ,Name asc")
for i in cur:
    print(i)

(5, 'brinjal', 500, 'briten')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(4, 'brinjal', 200, 'usa')
(3, 'poteto', 100, 'india')
(2, 'rice', 80, 'india')
(2, 'sugar', 50, 'india')
(1, 'sugar', 50, 'india')

In [18]:
cur.execute("insert into practice2 values(4,'brinjal',200,'usa')")
cur.execute("insert into practice2 values(5,'brinjal',500,'briten')")
car.commit()

In [19]:
cur.execute("select * from practice2")
for i in cur:
    print(i)

(1, 'sugar', 50, 'india')
(2, 'sugar', 50, 'india')
(2, 'rice', 80, 'india')
(3, 'poteto', 100, 'india')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')

In [20]:
cur.execute("insert into practice2 (productId) values(1) ")

In [21]:
cur.execute("select * from practice2 where Name is null")
for i in cur:
    print(i)

(1, None, None, None)

In [22]:
cur.execute("select * from practice2 where Name is not null")
for i in cur:
    print(i)

(1, 'sugar', 50, 'india')
(2, 'sugar', 50, 'india')
(2, 'rice', 80, 'india')
(3, 'poteto', 100, 'india')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')
(4, 'brinjal', 200, 'usa')
(5, 'brinjal', 500, 'briten')